ConfigurationSchema.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="https://github.com/fsprojects/FSharpLint/blob/master/ConfigurationSchema.xsd"
    elementFormDefault="qualified"
    xmlns="https://github.com/fsprojects/FSharpLint/blob/master/ConfigurationSchema.xsd"
    xmlns:mstns="http://tempuri.org/XMLSchema.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>

  <xs:complexType name="StringList">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="Update" use="optional">
          <xs:simpleType>
            <xs:restriction base="xs:string">
              <xs:enumeration value="Add"/>
              <xs:enumeration value="Overwrite"/>
            </xs:restriction>
          </xs:simpleType>
        </xs:attribute>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="Enabled">
    <xs:sequence>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="AccessEnumeration">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Public" />
      <xs:enumeration value="Internal" />
      <xs:enumeration value="Private" />
      <xs:enumeration value="None" />
      <xs:enumeration value="All" />
      <xs:enumeration value="NotPrivate" />
      <xs:enumeration value="NotPublic" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Access">
    <xs:sequence>
      <xs:element name="Access" maxOccurs="1" minOccurs="0" type="AccessEnumeration" />
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Hints">
    <xs:sequence>
      <xs:element name="Hints" maxOccurs="1" minOccurs="0" type="StringList" />
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="Naming">
    <xs:restriction base="xs:string">
      <xs:enumeration value="PascalCase" />
      <xs:enumeration value="CamelCase" />
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="NamingUnderscores">
    <xs:restriction base="xs:string">
      <xs:enumeration value="AllowPrefix" />
      <xs:enumeration value="AllowAny" />
      <xs:enumeration value="None" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="NameConvention">
    <xs:all>
      <xs:element name="Naming" maxOccurs="1" minOccurs="0" type="Naming" />
      <xs:element name="Prefix" maxOccurs="1" minOccurs="0" type="xs:string" />
      <xs:element name="Suffix" maxOccurs="1" minOccurs="0" type="xs:string" />
      <xs:element name="Underscores" maxOccurs="1" minOccurs="0" type="NamingUnderscores" />
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:all>
  </xs:complexType>

  <xs:complexType name="NameConventions">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="InterfaceNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="ExceptionNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="TypeNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="RecordFieldNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="EnumCasesNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="UnionCasesNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="ModuleNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="LiteralNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="NamespaceNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="MemberNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="ParameterNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="MeasureTypeNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="ActivePatternNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="PublicValuesNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
            <xs:element name="NonPublicValuesNames" maxOccurs="1" minOccurs="0" type="NameConvention" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SourceLengthRule">
    <xs:sequence>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
      <xs:element name="Lines" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="SourceLength">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MaxLinesInFunction" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInLambdaFunction" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInMatchLambdaFunction" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInValue" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInConstructor" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInMember" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInProperty" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInClass" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInEnum" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInUnion" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInRecord" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
            <xs:element name="MaxLinesInModule" maxOccurs="1" minOccurs="0" type="SourceLengthRule" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Typography">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MaxLinesInFile" maxOccurs="1" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="Lines" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="MaxCharactersOnLine" maxOccurs="1" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="Length" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="NoTabCharacters" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="TrailingNewLineInFile" maxOccurs="1" minOccurs="0" type="Enabled" />

            <xs:element name="TrailingWhitespaceOnLine" maxOccurs="1" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="NumberOfSpacesAllowed" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
                  <xs:element name="OneSpaceAllowedAfterOperator" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="IgnoreBlankLines" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>

            <xs:element name="Indentation" maxOccurs="1" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="NumberOfIndentationSpaces" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NestedStatements">
    <xs:sequence>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
      <xs:element name="Depth" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NumberOfItemsRule">
    <xs:sequence>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
      <xs:element name="MaxItems" maxOccurs="1" minOccurs="0" type="xs:unsignedInt" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="NumberOfItems">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="MaxNumberOfFunctionParameters" maxOccurs="1" minOccurs="0" type="NumberOfItemsRule" />
            <xs:element name="MaxNumberOfMembers" maxOccurs="1" minOccurs="0" type="NumberOfItemsRule" />
            <xs:element name="MaxNumberOfItemsInTuple" maxOccurs="1" minOccurs="0" type="NumberOfItemsRule" />
            <xs:element name="MaxNumberOfBooleanOperatorsInCondition" maxOccurs="1" minOccurs="0" type="NumberOfItemsRule" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RaiseWithTooManyArguments">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FailwithWithSingleArgument" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="RaiseWithSingleArgument" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="NullArgWithSingleArgument" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="InvalidOpWithSingleArgument" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="FailwithfWithArgumentsMatchingFormatString" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="InvalidArgWithTwoArguments" maxOccurs="1" minOccurs="0" type="Enabled" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Binding">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="FavourIgnoreOverLetWild" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="UselessBinding" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="TupleOfWildcards" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="WildcardNamedWithAsPattern" maxOccurs="1" minOccurs="0" type="Enabled" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="FunctionReimplementation">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="ReimplementsFunction" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="CanBeReplacedWithComposition" maxOccurs="1" minOccurs="0" type="Enabled" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:simpleType name="TypedItemStyle">
    <xs:restriction base="xs:string">
      <xs:enumeration value="NoSpaces" />
      <xs:enumeration value="SpaceAfter" />
      <xs:enumeration value="SpacesAround" />
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="Formatting">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TypedItemSpacing" maxOccurs="1" minOccurs="0">
              <xs:complexType>
                <xs:sequence>
                  <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
                  <xs:element name="TypedItemStyle" maxOccurs="1" minOccurs="0" type="TypedItemStyle" />
                </xs:sequence>
              </xs:complexType>
            </xs:element>
            <xs:element name="TupleCommaSpacing" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="TupleParentheses" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="TypePrefixing" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="PatternMatchClausesOnNewLine" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="PatternMatchOrClausesOnNewLine" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="PatternMatchClauseIndentation" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="PatternMatchExpressionIndentation" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="ModuleDeclSpacing" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="ClassMemberSpacing" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="UnionDefinitionIndentation" maxOccurs="1" minOccurs="0" type="Enabled" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="RedundantNewKeyword">
    <xs:sequence>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="Conventions">
    <xs:sequence>
      <xs:element name="Rules" maxOccurs="1" minOccurs="0">
        <xs:complexType>
          <xs:sequence>
            <xs:element name="TopLevelNamespace" maxOccurs="1" minOccurs="0" type="Enabled" />
            <xs:element name="RecursiveAsyncFunction" maxOccurs="1" minOccurs="0" type="Enabled" />
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="Enabled" maxOccurs="1" minOccurs="0" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="Analysers">
    <xs:sequence>
      <xs:element name="Hints" maxOccurs="1" minOccurs="0" type="Hints" />
      <xs:element name="NameConventions" maxOccurs="1" minOccurs="0" type="NameConventions" />
      <xs:element name="SourceLength" maxOccurs="1" minOccurs="0" type="SourceLength" />
      <xs:element name="Typography" maxOccurs="1" minOccurs="0" type="Typography" />
      <xs:element name="NestedStatements" maxOccurs="1" minOccurs="0" type="NestedStatements" />
      <xs:element name="NumberOfItems" maxOccurs="1" minOccurs="0" type="NumberOfItems" />
      <xs:element name="RaiseWithTooManyArguments" maxOccurs="1" minOccurs="0" type="RaiseWithTooManyArguments" />
      <xs:element name="Binding" maxOccurs="1" minOccurs="0" type="Binding" />
      <xs:element name="FunctionReimplementation" maxOccurs="1" minOccurs="0" type="FunctionReimplementation" />
      <xs:element name="RedundantNewKeyword" maxOccurs="1" minOccurs="0" type="RedundantNewKeyword" />
      <xs:element name="Formatting" maxOccurs="1" minOccurs="0" type="Formatting" />
      <xs:element name="Conventions" maxOccurs="1" minOccurs="0" type="Conventions" />
    </xs:sequence>
  </xs:complexType>

  <xs:element name="FSharpLintSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="IgnoreFiles" maxOccurs="1" minOccurs="0" type="StringList" />
        <xs:element name="Analysers" maxOccurs="1" minOccurs="0" type="Analysers" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
